* {
    padding: 0px;
    margin: 0px;
}

/* body {
    background-image: url('../images/leaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
} */

@font-face {
  font-family: 'winkyrough';
  src: url('../fonts/WinkyRough-Light.ttf');
}

.big-container {
    height: 100vh;
    display: flex;
}

.left-container {
    width: 1%;
    opacity: 70%;
    background-image: url('../images/leaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.mid-container {
    width: 45%;
    display: flex;
    background-color: #FCAE7D;
    font-size: 25px;
    padding-left: 5%;
    padding-top: 1.5%;
}

.right-container {
    width: 54%;
    opacity: 70%;
    background-image: url('../images/leaves.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

h1 {
    font-family: winkyrough;
    color: #FFFBF5;
    margin-bottom: 7%;
}

p {
    font-family: winkyrough;
    color: #FFFBF5;
    margin-bottom: 3%;
}

.circle-colors {
  width: 50%;
  height: 25%;
  
}

.c {
    position: relative;

}

#c1 {
    width: 60px;
    height: 60px;
    top: 32%;
    padding: 3%;
}

#c2 {
    width: 42px;
    height: 42px;
    left: -12%;
    top: -2%;
    padding: 0.7%;
}

#c3 {
    width: 47px;
    height: 47px;
    left: 65%;
    top: -20%;
    padding: 1.5%;
}

#c4 {
    width: 27px;
    height: 27px;
    top: -8%;
    left: 10%;
}

#c5 {
    width: 38px;
    height: 38px;
    top: 12%;
    left: 8%;
    padding: 0.6%;
}

#c6 {
    width: 45px;
    height: 45px;
    top: -5%;
    left: 33%;
    padding: 1%;
}


input[type="color"] {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 0;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 5px;
    border-radius: 50%;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 7%;
}

button {
    padding: 5%;
    width: 60%;
    border: none;
    border-radius: 5px;
    font-family: winkyrough;
    background-color: #FFFBF5;
    font-weight: 500px;
    font-size: large;
    cursor: pointer;
    transition: box-shadow .5s;
}

button:hover {
    background-color: #43B7C7;
    color: #FFFBF5;
}

button:active {
    background-color: #43B7C7;
    color: #FFFBF5;
    opacity: 0.5; 
}

.grd {
    position: fixed;
    top: 10%;
    left: 40%;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    width: 500px;           
    height: 500px;     
    display: flex;
    flex-wrap: wrap;   
    transition: box-shadow .25s;  
}

.grd:hover {
    box-shadow: 1px 1px 0.5px rgb(236, 233, 233);
    cursor: pointer;
}

.grd:active {
    box-shadow: 0.5px 0.5px 0.25px rgb(236, 233, 233);
}

.squares {
    background-color: white;
    outline: 1px solid rgb(227, 227, 227);
}

.slidecontainer {
    padding: 22px;
    /*outline: 2px solid #D1A7A7;*/
    background-color: #43B7C7;
    border-radius: 5px 25px 25px 5px;
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 5%;
}

.inner-slidecontainer {
    position: relative;
    width: 200px;
    height: 20px;
}

.inner-slidecontainer input {
    position: absolute;
    left: -6px;
    top: 0;
    width: 212px;
    height: 20px;
    -webkit-appearance: none;
    background-color: transparent;
    z-index: 99;
}

.inner-slidecontainer input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #F8EDED;
    border: 2px solid #B3C580;
    border-radius: 50%;
    cursor: pointer;
}

.inner-slidecontainer progress  {
    width: 200px;
    height: 20px;
    -webkit-appearance: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    overflow: hidden; 
}

.inner-slidecontainer progress::-webkit-progress-bar {
    background-color: rgb(238, 231, 231);
}

.inner-slidecontainer progress::-webkit-progress-value {
    background-color: #B3C580;
}

.slidervalue {
    width: 28px;
    height: 20px;
    margin-left: 10px;
    text-align: center;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
}

.slider {
    -webkit-appearance: none;
}  

